<div class="homepage">
  <div class="homepage__content">
    <h1 class="homepage__title">
      Start your unique adventure in Paris
    </h1>
    <p class="homepage__subtitle">
      Let us know what you like, we build the perfect Parisian escapade for you
    </p>
    <%= link_to "Start a trip", new_trip_path, class: "homepage__button" %>
  </div>

  <div class="homepage__image-wrapper">
    <img src="http://localhost:3845/assets/9faeb41fa0a79dc6181fdcf10533b08674f3414d.png" alt="Paris" class="homepage__image">
  </div>
</div>
